*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */
body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  margin: 8rem 2rem;
}

/* card styles */
.card {
  background-color: hsl(244, 37%, 16%);
  border-radius: 15px;
  overflow: hidden;
}

.card-content {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 2rem;
  text-align: center;
}

.card h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

span {
  color: hsl(277, 64%, 61%);
}
.card h1,
.card p {
  padding: 0 0 2rem;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
}

/* stats section */
.stats {
  color: hsl(0, 0%, 100%);
}

.stats dd {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.stats dt {
  color: hsla(0, 0%, 100%, 0.6);
}

.stat {
  margin-bottom: 1rem;
}

/* card image  styles*/
.card-image-wrapper {
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: hsl(277, 64%, 61%);
  background: hsla(277, 64%, 61%, 0.55);
  /* when hsl is used the color was blocking the image when i used hsla it didn't block the image
  i used opacity when it was hsl to make the image show, i dont know about the hsla it was from your own code i copied it from
  also i noticed in the hsla it had 0.55 */
}

/* Desktop styles */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    display: flex;
  }

  .card-content {
    text-align: left;
    padding: 5rem 6rem;
  }

  .stats {
    display: flex;
    gap: 4rem;
    padding: 2rem 0 0;
  }
}
