body {
    font-family: Arial, sans-serif;
    background-color: #0f0123;
    margin: 0;
    padding: 20px;
}

.flex-container {
    display: flex;
    color: aliceblue;
    background-color: rgb(18, 18, 86);
    margin: 200px;
    border-radius: 10px;
}

.flex-item1 {
    text-align: center;
}

.insights {
    color: rgb(161, 22, 221);
}

h1 {
    margin-top: 75px;
}

.description {
    margin: 45px;
}

.stats {
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
}

b {
    display: inline-block;

}

i {
    display: block;
}

.stat {
    display: inline-block;
    margin: 25px;
}